<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeListen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/static/img/logo_light.jpg" alt="WeListen Logo" />
            <!-- <p id="questionHeader"><b></b></p> -->
            <h2 id="question"></h2>
            <div id="normal-answer-container">
                <!-- <p><b>Your answer:</b></p> -->
                <p id="transcription"></p>
            </div>
            <div id="multiple-choice-container">
                <!-- <ol id="multiple-choice-options"></ol> -->

            </div>
        </div>
        <div class="buttons">
            <button id="clearButton" class="btn btn-success btn-lg">Clear</button>
            <br>
            <button id="previousButton" class="btn btn-secondary btn-sm">Previous</button>
            <button id="nextButton" class="btn btn-secondary btn-sm">Next</button>
            <br>
            <button id="reviewButton" class="btn btn-success">Review & Submit</button>
            <br>
            <p id="demo"></p>
        </div>
    </div>
    <!-- JSON testing {{ my_list[2] }} -->

    <div id="overlay">
        <div id="text"></div>
        <button id="saveButton" class="btn btn-success btn-lg">Save as PDF</button>
        <br>
        <button id="closeButton" class="btn btn-secondary btn-lg">close</button>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
            integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
