<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeListen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/static/img/logo_light.jpg" alt="WeListen Logo" />
            <p><b>Question:</b></p>
            <!-- JSON testing {{ my_list[2] }} -->
            <p id="question"></p>
            <p><b>Your answer:</b></p>
            <p id="transcription">Press <i>"Record"</i> to record your answer</p>
            <button id="recordButton" class="btn btn-primary">Record</button>
            <button id="nextButton" class="btn btn-secondary">Next</button>
        </div>
    </div>

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
