<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeListen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/static/img/logo_light.jpg" alt="WeListen Logo" />
            <p id="questionHeader"><b></b></p>
            <p id="question"></p>
            <p><b>Your answer:</b></p>
            <p id="transcription"></p>
        </div>
        <div class="buttons">
            <button id="recordButton" class="btn btn-primary btn-lg">Record</button>
            <button id="saveButton" class="btn btn-success btn-lg">Save</button>
            <br>
            <button id="previousButton" class="btn btn-secondary btn-sm">Previous</button>
            <button id="nextButton" class="btn btn-secondary btn-sm">Next</button>
            <br>
            <button id="reviewButton" class="btn btn-success">Review & Submit</button>
            <br>
            <p id="demo"></p>
        </div>
    </div>
    <!-- JSON testing {{ my_list[2] }} -->

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
