<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeListen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div>
    <button id="recordButton" class="btn btn-lg btn-primary">Record</button>
    <h3>Transcription:</h3>
    <p id="transcription"></p>
</div>

    <!-- <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> -->
    <script src="{{ url_for('static', filename='js/recognize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/watson-speech.min.js') }}"></script>
</body>
</html>
