body {
    margin: 0; 
    box-sizing: border-box;
}
    

.container {
    text-align: center;
}

.content {
}

.buttons {
    position: sticky;
}


#previousButton {
    margin-top: 15px;
}

#nextButton {
    margin-top: 15px;
}

#reviewButton {
    margin-top: 15px;
    display: none;
}

#messageOutput {
    margin-top: 25px;
}

img {
    margin-bottom: 3%;
    margin-top: 1%;
}

#transcription {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    background-color: white;
}
#transcription:focus {
    border: 1px solid green;
}

#question {
    margin-bottom: 3%;
}

#normal-answer-container, #multiple-choice-container {
    margin-top: 1%;
    margin-bottom: 3%;
}

.custom-radio, .custom-checkbox {
    margin-bottom: 10px;
}

#multiple-choice-container {
    text-align: initial;
    margin-left: 46%;
}

.progress {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}



