html, body, div { margin: 0; padding: 1%; border: 0 none; }

.container {
    text-align: center;
}

.content {
}

.buttons {
    position: sticky;
}

#recordButton {
}

#saveButton {
}

#previousButton {
    margin-top: 15px;
}

#nextButton {
    margin-top: 15px;
}

#reviewButton {
    margin-top: 25px;
    visibility: hidden;
}

img {
    margin-bottom: 3%;
}

#overlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 3px solid black;
    z-index: 2;
    cursor: pointer;
    margin-left: 10%;
    text-align: center;
}

#text
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: black;
    //transform: translate(-50%,-50%);
    //-ms-transform: translate(-50%,-50%);
}

#closeButton{
    margin-top: 15px;
}