body {
    margin: 0; 
    box-sizing: border-box;
}
    

.container {
    text-align: center;
}

.content {
}

.buttons {
    position: sticky;
}

#recordButton {
}

#saveButton {
}

#previousButton {
    margin-top: 15px;
}

#nextButton {
    margin-top: 15px;
}

#reviewButton {
    margin-top: 25px;
    visibility: hidden;
}

img {
    margin-bottom: 3%;
    margin-top: 1%;
}

#transcription {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    background-color: white;

}

#question {
    margin-bottom: 3%;
}

#normal-answer-container, #multiple-choice-container {
    margin-top: 1%;
    margin-bottom: 3%;
}

.custom-radio, .custom-checkbox {
    margin-bottom: 10px;
}

#multiple-choice-container {
    text-align: initial;
    margin-left: 45%;
}

.progress {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
